main {
    width: 50%;
    height: 100vh;
    justify-self: center;
    align-content: center;
}
body {
    margin: 0;
    font-family: monospace;
    background-color: #937ea3;
    color: #e9bbe7;
    font-weight:550;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 40px 0;
    }
form {
    background-color: rgb(194, 161, 180);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.filter-btn {
    background-color: #333c4f;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    color: #b3c5ef;
    cursor: pointer;
}

li {
    border-bottom: 1px solid;
}

#todo-list {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    border-bottom: 1px solid;
}

.hidden {
    display: none;
}

#filter-menu {
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 12rem;
}

